Repository TeamTalkable/ANDROID, pull requests merged in 2024-05, with the labels that each got.

#2 [Feature/#1] 기초 setting
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/talkable/core/base/BindingActivity.kt
  app/src/main/java/com/talkable/core/base/BindingBottomSheetFragment.kt
  app/src/main/java/com/talkable/core/base/BindingFragment.kt
  app/src/main/java/com/talkable/core/util/context/ContextExt.kt
  app/src/main/java/com/talkable/core/util/fragment/FragmentExt.kt
  app/src/main/java/com/talkable/core/view/UiState.kt
  app/src/main/java/com/talkable/core/view/ViewExt.kt
  app/src/main/java/com/talkable/data/ApiFactory.kt
  app/src/main/java/com/talkable/data/api/ExampleApiService.kt
  app/src/main/java/com/talkable/data/dto/response/ResponseExampleDto.kt
  app/src/main/java/com/talkable/presentation/MainActivity.kt
  app/src/main/java/com/talkable/presentation/challenge/ChallengeFragment.kt
  app/src/main/java/com/talkable/presentation/home/HomeFragment.kt
  app/src/main/java/com/talkable/presentation/login/LoginFragment.kt
  app/src/main/java/com/talkable/presentation/mypage/MyPageFragment.kt
  app/src/main/java/com/talkable/presentation/talk/TalkFragment.kt
  app/src/main/res/drawable/ic_launcher_background.xml
  app/src/main/res/drawable/ic_launcher_foreground.xml
  app/src/main/res/font/font_pretendard_bold.xml
  app/src/main/res/font/font_pretendard_medium.xml
  app/src/main/res/font/font_pretendard_regular.xml
  app/src/main/res/font/font_pretendard_semibold.xml
  app/src/main/res/font/pretendard_bold.ttf
  app/src/main/res/font/pretendard_medium.ttf
  app/src/main/res/font/pretendard_regular.ttf
  app/src/main/res/font/pretendard_semibold.ttf
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_challenge.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_login.xml
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/layout/fragment_talk.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/textAppearances.xml
  app/src/main/res/values/themes.xml
  build.gradle
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle
Labels: ⚙️ [SETTING]

#4 [Setting/#3] : 추가 기초 세팅
  .gitignore
  app/build.gradle.kts
  app/src/main/java/com/talkable/TalkableApp.kt
  build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: 🐱 소현, ⚙️ [SETTING]

#8 [Feature/#6] : 로그인/회원가입 UI, 카카오 로그인
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/talkable/TalkableApp.kt
  app/src/main/java/com/talkable/presentation/MainActivity.kt
  app/src/main/java/com/talkable/presentation/login/LoginFragment.kt
  app/src/main/java/com/talkable/presentation/login/SignUpFragment.kt
  app/src/main/res/drawable-xhdpi/ic_login.png
  app/src/main/res/drawable-xhdpi/logo_talkable.png
  app/src/main/res/drawable-xxhdpi/ic_login.png
  app/src/main/res/drawable-xxhdpi/logo_talkable.png
  app/src/main/res/drawable-xxxhdpi/ic_login.png
  app/src/main/res/drawable/ic_back.xml
  app/src/main/res/drawable/ic_challenge_selected.xml
  app/src/main/res/drawable/ic_challenge_unselected.xml
  app/src/main/res/drawable/ic_home_selected.xml
  app/src/main/res/drawable/ic_home_unselected.xml
  app/src/main/res/drawable/ic_login.png
  app/src/main/res/drawable/ic_mypage_selected.xml
  app/src/main/res/drawable/ic_mypage_unselected.xml
  app/src/main/res/drawable/ic_sign_up_agree_checked.xml
  app/src/main/res/drawable/ic_sign_up_agree_unchecked.xml
  app/src/main/res/drawable/ic_sign_up_all_agree_checked.xml
  app/src/main/res/drawable/ic_sign_up_all_agree_unchecked.xml
  app/src/main/res/drawable/logo_talkable.png
  app/src/main/res/drawable/sel_nav_selected_challenge.xml
  app/src/main/res/drawable/sel_nav_selected_home.xml
  app/src/main/res/drawable/sel_nav_selected_mypage.xml
  app/src/main/res/drawable/sel_sign_up_selected_agree.xml
  app/src/main/res/drawable/sel_sign_up_selected_all_agree.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_login.xml
  app/src/main/res/layout/fragment_sign_up.xml
  app/src/main/res/menu/menu_home.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/textAppearances.xml
  gradle/libs.versions.toml
  icon/ic_challenge_selected.svg
  icon/ic_challenge_unselected.svg
  icon/ic_home_selected.svg
  icon/ic_home_unselected.svg
  icon/ic_mypage_selected.svg
  icon/ic_mypage_unselected.svg
  icon/kakako/ic_login.png
  icon/kakako/ic_login@2x.png
  icon/kakako/ic_login@3x.png
  icon/kakako/ic_login@4x.png
  icon/logo_talkable.svg
  icon/talkable/logo_talkable.png
  icon/talkable/logo_talkable@2x.png
  icon/talkable/logo_talkable@3x.png
  icon/talkable/logo_talkable@4x.png
  settings.gradle.kts
Labels: ⭐ [FEAT], 🐰 유진, 💟 [UI]

#11 [Feature/#6] : 로그인 viewModel 분리
  app/src/main/java/com/talkable/presentation/login/AgreementFragment.kt
  app/src/main/java/com/talkable/presentation/login/LoginFragment.kt
  app/src/main/java/com/talkable/presentation/login/LoginViewModel.kt
  app/src/main/java/com/talkable/presentation/login/SignUpFragment.kt
  app/src/main/java/com/talkable/presentation/login/kakao/KakaoLoginService.kt
  app/src/main/java/com/talkable/presentation/login/kakao/LoginViewModelFactory.kt
  app/src/main/java/com/talkable/presentation/login/kakao/kakaoLoginCallback.kt
  app/src/main/res/drawable/ic_agreement_agree_checked.xml
  app/src/main/res/drawable/ic_agreement_agree_unchecked.xml
  app/src/main/res/drawable/ic_agreement_all_agree_checked.xml
  app/src/main/res/drawable/ic_agreement_all_agree_unchecked.xml
  app/src/main/res/drawable/sel_agreement_selected_agree.xml
  app/src/main/res/drawable/sel_agreement_selected_all_agree.xml
  app/src/main/res/drawable/sel_agreement_selected_next.xml
  app/src/main/res/drawable/shape_gray_fill_12_rect.xml
  app/src/main/res/drawable/shape_main_fill_12_rect.xml
  app/src/main/res/layout/fragment_agreement.xml
  app/src/main/res/layout/fragment_login.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: ✅ [MOD], 🐰 유진,  ♻️ [REFACTOR]
